[2019-05-15 11:07] pielco11 opened #1 "[REQUEST] Basic auth and custom cookies"
Various websites require you to log in to view the content, which could turn out more images, external links (It's not too rare to share join-chat links) and a lot of other stuff

Keep up with this great work!

[2019-05-16 02:15] thewhiteh4t commented on #1
Thankyou!!, I am working on basic auth part but what about custom cookies ? please elaborate...

[2019-05-16 13:32] pielco11 commented on #1
Let's say that a website has only a login page that does not require you logged in to view it, and let's assume that a captcha challenge is required. How would you crawl the not public content of the website?

I would login with the browser, copy the cookies for that website, and use them in FinalRecon to crawl the pages

[2019-05-26 14:55] antihackme opened #2 "Issues with missing whois module"
Successfully built ipaddr
Installing collected packages: ipaddr, ipwhois
Successfully installed ipaddr-2.2.0 ipwhois-1.1.0
┌─[antihack@parrot]─[~/FinalRecon]
└──╼ $python3 finalrecon.py
Traceback (most recent call last):
  File "finalrecon.py", line 9, in <module>
    from modules.whois import whois_lookup
  File "/home/antihack/FinalRecon/modules/whois.py", line 3, in <module>
    import ipwhois

[2019-05-27 02:29] thewhiteh4t commented on #2
@antihackme did you execute `pip install` in place of `pip3 install` by mistake? i will test on parrot just to be sure

[2019-05-27 03:32] thewhiteh4t commented on #2
@antihackme tested in parrotsec os, its working fine for me no errors

[2019-05-31 10:46] ivybao0628 opened #3 "can not surpport https connnection"
Looking for robots.txt[-] Error : HTTPConnectionPool(host='a', port=80): Read timed out. (read timeout=10)

[2019-05-31 17:27] thewhiteh4t commented on #2
Closing due to inactivity.

[2019-05-31 17:27] #2 closed

[2019-05-31 17:28] thewhiteh4t commented on #3
can you share website url?

[2019-06-05 12:44] thewhiteh4t commented on #3
Closing due to inactivity.

[2019-06-05 12:44] #3 closed

[2019-11-06 05:38] attacker34 opened #4 "Subdomain, Port Scan & Dirsearch"
Dear @thewhiteh4t

its looking for a good but it need enhancements like

1. Subdomain Scan
2. Port Scan
3. Dirsearch

Sincerely,

[2019-11-06 05:40] thewhiteh4t commented on #4
Thanks, already working on these along with more features, it will be updated soon!

[2019-11-13 17:43] Luci-d opened #5 "functionality [enhancement]"
check out spyse API. It could help to expand the functionality of the finalrecon. could add wider subdomains or port scans, etc...

[2019-12-26 14:27] darknodi opened #6 "compassionately, can I see phonenumbers, of EU connected, that have visited the domain url page. Who have visited domain page url, only the phonenumbers."
compassionately, can I see phonenumbers, of EU connected, that have visited the domain url page. Who have visited domain page url, only the phonenumbers.  I will keep this not sharely.

@thewhiteh4t

[2020-01-30 16:11] KumarAtulJaiswal commented on #2
hahaha, my mistake.. i accidentally installed a  ' pip -r requirements.txt  ' instead of  '  pip3  -r requirements.txt  '

[2020-03-20 08:34] thewhiteh4t commented on #4
@attacker34 please update to v1.0.2, all requests added!

[2020-03-20 08:34] #4 closed

[2020-03-20 08:35] thewhiteh4t commented on #5
@Luci-d spyse API requires key, I have added some other alternatives which don't require keys in v1.0.2 please update and test

[2020-03-20 08:35] #5 closed

[2020-03-21 07:02] attacker34 opened #8 "Suggestions !!"
Hi @thewhiteh4t

Wow, Hats off to you... You really made it Super Quick tool with good results even better than now findomain as I used that one too.

I will suggest you to add:

1. Facebook Developers API for Subdomain Scan
+ Project Sonar(If Possible)

2. Spyse Subdomain Enum API

3. Add BruteX for Attacking on results of Port Scan Results but keep it as a different module so that user can choos

[2020-03-21 07:19] thewhiteh4t commented on #8
Great! I will try and implement these in next update, my goal for APIs was to include ones which don't need an auth key, I can add others which require keys if they really add value to the tool

[2020-03-21 07:41] attacker34 commented on #8
Hi @thewhiteh4t Agree with you ... Yes, these services will surely add more value to this amazing tool, adding more results... You can ask the user to add "API Keys" instead of giving it your own API Keys (as findomain or other tools are doing). This Will surely become best ever Tool with these Enhancements.

One more thing to add here.. ffuf is amazing tool.. You can just feed the subdomains list

[2020-03-21 07:45] thewhiteh4t commented on #8
Yes that's a better way to implement it, please compare my implementation of directory searching with fuff, what is missing in my implementation? Also is fuff better than gobuster and lulzbuster?

[2020-03-21 07:59] attacker34 commented on #8
Hi @thewhiteh4t I am only suggesting ffuf due to its multiple features which you can see on their documentation & its specially good when we wanna directory bruteforce "list of domains"..
On other hand, gobuster & lulzbuster can't work well with list of domains i think and they also not have multiple options to be tested against.

Sincerely,

[2020-03-21 08:03] thewhiteh4t commented on #8
Alright, thanks a lot, I will look into it and will do some testing too!

[2020-03-25 00:52] evanricafort opened #9 "invalid syntax"
File "finalrecon.py", line 128
    print(G + '[+]' + C + ' Checking for Updates...', end='')
                                                         ^
SyntaxError: invalid syntax

[2020-03-25 01:10] #9 closed

[2020-03-25 14:34] Mi-Al opened #10 "Wrong IP of web sites if launch FinalRecon through proxychains"
Hello! When I start FinalRecon through proxychains like this:

`sudo proxychains4 finalrecon https://site.biz`

I always get wrong IP address for every web site, it is 224.0.0.2:

`[+] IP Address : 224.0.0.2`

But information from DNS Enumeration is correct anyway.

I tried to specify custom DNS with -d option, but it did not help.

[2020-03-25 14:53] thewhiteh4t commented on #10
I have not tested it with proxychains yet, I will try and fix this soon, thanks!

[2020-03-27 08:17] thewhiteh4t commented on #10
@Mi-Al I tested with both `proxychains` and `torsocks` , I am using tor in proxychains, IP changes like you mentioned but that's not the case with torsocks, please test using torsocks also

[2020-03-27 08:25] Mi-Al commented on #10
Yes, with torsocks FinalRecon works fine. I can use torsocks instead of proxychains. Thank you!

[2020-03-27 08:28] thewhiteh4t commented on #10
@Mi-Al Great! thanks, I am testing support for proxychains at the moment

[2020-03-30 14:32] ashishgajjar90 opened #13 "DNS Enumeration Failing"
I just installed this tool, and upon testing, I get the below error when trying to run a --full scan against any URL:

[!] Starting DNS Enumeration...

Traceback (most recent call last):
  File "finalrecon.py", line 224, in <module>
    full_recon()
  File "finalrecon.py", line 159, in full_recon
    dnsrec(domain, output, data)
  File "/Tools/FinalRecon/modules/dns.py", line 19, in dnsrec
    pkt

[2020-03-30 14:37] thewhiteh4t commented on #13
@ashishgajjar90 as per the error, it is unable to connect at `8.8.8.8` for some reason

[2020-03-30 14:41] ashishgajjar90 commented on #13
Is that DNS IP hard coded within the config files? Or is it picking that DNS server from my network settings? I tried specifying a DNS server manually, but I still get the same error.

How can we troubleshoot more and get a fix for this?

[2020-03-30 14:50] thewhiteh4t commented on #13
@ashishgajjar90 it's hard coded, when I was testing with cloudflare dns I got the same error so I hard coded google dns

[2020-03-30 15:08] ashishgajjar90 commented on #13
So how do we troubleshoot the connection issue?

Thanks & Regards

Ashish Gajjar

On Mon, Mar 30, 2020 at 5:50 PM thewhiteh4t <notifications@github.com>
wrote:

[2020-03-30 15:09] ashishgajjar90 commented on #13
I use both Google and Cloudflare DNS in my network and those are fine. The script for some reason isn't :/

[2020-03-30 15:29] thewhiteh4t commented on #13
@ashishgajjar90 take a look at this https://serverfault.com/questions/964540/port-53-udp-and-tcp-gets-blocked-when-openvpn-is-operating

[2020-03-31 16:42] chr0n1k commented on #13
I am getting the same error and verified on my end that I can reach the required ports:

**nc -v -u 8.8.8.8 53**
_dns.google [8.8.8.8] 53 (domain) open_

[2020-03-31 16:47] chr0n1k commented on #13
I used an alternate DNS server in the **dns.py** module and it worked. Seems like Google is blocking such requests maybe?

[2020-03-31 16:49] thewhiteh4t commented on #13
@chr0n1k that does look like google is blocking but then it should block every such request, like if I use dns enum module it should block me too but it doesn't, strange

[2020-03-31 17:06] chr0n1k commented on #13
@thewhiteh4t I used the dns enum module specifically to recreate the issue. It is strange that I could port knock with netcat but when running dns enum it threw that error. I tried the same with 1.1.1.1 and got the same error. Then used a regional DNS server and it worked.

[2020-03-31 17:17] thewhiteh4t commented on #13
@chr0n1k the error is actually in dns.py which is a part of dnslib
[code]
and connection is refused before it can send anything, if nothing is sent then why will google or cloudflare block the connection

[2020-03-31 17:27] chr0n1k commented on #13
@thewhiteh4t I started my investigation there then when I tested an alternate DNS server in the dns.py module it worked. Don't know how else this error would be caused.

[2020-03-31 17:29] thewhiteh4t commented on #13
@chr0n1k I will try to change implementation if it's possible

[2020-03-31 17:30] chr0n1k commented on #13
@thewhiteh4t That would be great. or parse a DNS variable option. Though that can be a nightmare too.

[2020-03-31 17:35] thewhiteh4t commented on #13
@chr0n1k yeah, this needs a proper solution

[2020-04-09 08:10] AshKumar06 opened #15 "Error while running the script AttributeError: module 'asyncio' has no attribute 'create_task while running."
The script generated this error while running ,AttributeError: module 'asyncio' has no attribute 'create_task while running. Just replaced create_task with asyncio.ensure_future and it executed without errors.

[2020-04-09 08:14] thewhiteh4t commented on #15
@AshKumar06 looks like you are using some python version below `3.7` , `create_task` was added in python version `3.7` , upgrade and it will work, closing.

[2020-04-09 08:14] #15 closed

[2020-04-14 15:07] thewhiteh4t commented on #13
@chr0n1k
can you please test this code :
[code]

[2020-04-16 11:20] thewhiteh4t commented on #8
@attacker34 facebook developer api added, update to v1.0.4, you will see a new directory : `conf` inside it you will see `keys.json` add your auth token there and test :)

[2020-04-16 14:00] thewhiteh4t commented on #8
https://github.com/thewhiteh4t/FinalRecon#configuration

[2020-04-19 03:41] thewhiteh4t commented on #13
Closing due to inactivity.

[2020-04-19 03:41] #13 closed

[2020-04-19 08:01] thewhiteh4t commented on #8
@attacker34 do you have pro api of spyse?
with free version we cannot get more than 100 results,

`{"error":{"code":"validation_error","message":"validation error","errors":[{"code":"max","location":"limit","message":"limit must be 100 or less"}]}}`

if you have pro api, can you tell me how many subdomain results you are getting for `google.com`

[2020-04-19 08:02] thewhiteh4t commented on #8
We are already getting a lot of subdomains from free sources and facebook api unlike spyse

[2020-04-27 09:19] thewhiteh4t commented on #8
@attacker34 Wayback machine integrated in `crawler` and `directory search` module, pulls data from last 1 year, please update to v1.0.6

[2020-04-27 09:29] attacker34 commented on #8
Hi @thewhiteh4t  that's great...  Now, In order to get more Good results you can attach it with "fprobe" for displaying only alive links..

[code]

With ./waybackurls we get a ton of data which can include dead links.

[code]

[2020-04-27 10:05] thewhiteh4t commented on #8
@attacker34 thanks! That will be very useful and it's easy to implement without even using fprobe or any other tool, will update soon

[2020-04-27 10:07] attacker34 commented on #8
Hi @thewhiteh4t  Great.. But try to display the Content size of Response...

[2020-04-27 10:08] thewhiteh4t commented on #8
Sure, I will test fprobe and analyse the ouput quality

[2020-05-01 10:02] mehedi1194 opened #16 "json.decoder.JSONDecodeError"
### Facing this Error

[!] Starting Sub-Domain Enumeration...

[!] Requesting ThreadCrowd
[!] Requesting crt.sh
[!] Requesting AnubisDB
[!] Requesting BuffOver
[!] Requesting ThreatMiner
Traceback (most recent call last):
  File "finalrecon.py", line 227, in <module>
    full_recon()
  File "finalrecon.py", line 164, in full_recon
    subdomains(domain, tout, output, data)
  File "/root/Tool/Recon

[2020-05-04 22:02] Dicer-TDP commented on #16
Your installation has not complete, bro. Please check back!

[2020-05-08 03:06] thewhiteh4t commented on #16
@mehedi1194 are you getting this error on every domain or just a specific one?

[2020-05-08 03:09] thewhiteh4t commented on #16
@mehedi1194 check `keys.json` file, I think you have not entered the key properly

[2020-05-20 03:16] thewhiteh4t commented on #16
Closing due to inactivity.

[2020-05-20 03:16] #16 closed

[2020-05-27 23:40] HiJynx opened #17 "Issue with version check and crawler"
Hello,
After testing out the latest build, I found an issue with the version check and crawler capabilities of finalrecon.py. Initially, finalrecon.py will throw and error as it is having issues with parsing the version file from the repo and stop working. I have been able to work around this issue by commenting out the version check function. The rest of the program works fine up until the crawle

[2020-05-28 03:16] thewhiteh4t commented on #17
@HiJynx what errors are you getting exactly? Share a text version or screenshots, because in the version check it simply reads a file from github, I just tested it now and it is working fine for me so it looks like issue is on your end only and about the crawler, if it is possible can you share the target url? It will be easier for me to reproduce the issue that way, you can share it on telegram i

[2020-05-28 03:44] HiJynx commented on #17
@thewhiteh4t here is the command and arguments that I had passed. I had even tried with a fresh clone and still ran into the same issue. I will also provide the appropriate screen shots, with descriptive names to help with each.

Command Used: python3 finalrecon.py --full -w /usr/share/wordlists/dirbuster/directory-list-2.3-medium.txt https://www.att.com
![Result of command](https://user-images.gi

[2020-05-28 04:07] thewhiteh4t commented on #17
@HiJynx by any chance are you using kali linux wsl in windows 10?

[2020-05-30 23:32] mmuncan commented on #13
i ha the same error, when i was connected to my VPN. i changed the ip in the file from Google to Cloudfare, that is from 8.8.8.8 to 1.1.1.1 on two locations.

After that it worked :D

[2020-05-31 02:24] thewhiteh4t commented on #13
@mmuncan can you test the code I have given above? With and without vpn, if it works for you in both cases then I can update

[2020-06-02 12:50] JavuMan commented on #13
@thewhiteh4t i test your code and i have no issue (VPN on with DNS exclusive ans VPN off).
Error is in app of VPN who exclusive DNS on (ExpressVPN).
Now DNS Enumeration work for me.

[2020-06-02 13:15] JavuMan opened #18 "AttributeError: module 'asyncio' has no attribute 'create_task'"
The create_task top-level function was added in Python 3.7, if you use python 3.6 you should have a issue. "creat_task" was only available as a method (in 3.6) so you can invoke it like:
dirrec.py
83 tasks.append(**asyncio.get_event_loop().create_task**(wm_fetch(f_url, session)))
84 #tasks.append(asyncio.create_task(wm_fetch(f_url, session)))
Fully functional for python 3.6 and 3.7.

[2020-06-02 14:48] #18 closed

[2020-06-02 15:03] thewhiteh4t commented on #13
@JavuMan thanks for testing, should I will implement new code soon!

[2020-06-11 06:34] Oldman19 opened #19 "Suggestions !!!!"
It would be more perfect if it is possible to identify what cms the website uses

[2020-06-21 20:51] thewhiteh4t opened #20 "To do"
* http headers best practices
* Http methods enumeration
* Dedicated hsts test
* Detect if server sends 200 for non existent urls
* Check availability on wayback before launching it
* improve output directory structure
* include timestamps in output directory
* create separate file for each module in directory
* create new directory on each run
* add ASN lookup

[2020-07-10 08:21] 01010000-kumar opened #21 "shows error even with dependency installed"
$sudo ./finalrecon.py
[code]
---------------------------------------------------------------------------------------------------------------------------------------------

$pip3 install tldextract icmplib
[code]

[2020-07-10 14:36] thewhiteh4t commented on #21
share output of `python3 --version` and try executing `python3 finalrecon.py`

[2020-07-10 15:47] 01010000-kumar commented on #21
$python3 --version

[code]
---------------------------------------------------------------------------------------------------------------------------------------------------

$sudo python3 finalrecon.py

[code]

[2020-07-10 16:09] thewhiteh4t commented on #21
hmmmmm strange, what is the output of `pip3 --version`

[2020-07-10 16:12] thewhiteh4t commented on #21
another thing, did you execute `pip3 install -r requirements.txt` or `sudo pip3 install -r requirements.txt` ?

[2020-07-10 16:26] 01010000-kumar commented on #21
with a sudo

[2020-07-10 16:33] 01010000-kumar commented on #21
tried executing with a `sudo` works fine now

[2020-07-10 16:34] thewhiteh4t commented on #21
@01010000-kumar cool, thanks, I will update the install instructions and include sudo in pip command

[2020-07-10 16:34] #21 closed

[2020-08-08 04:50] thewhiteh4t commented on #20
moved to projects

[2020-08-08 04:50] #20 closed

[2020-08-08 04:50] thewhiteh4t commented on #17
Closing due to inactivity.

[2020-08-08 04:50] #17 closed

[2020-08-15 20:18] shanow7 opened #24 "whois error"
hi, I've heve this

[!] Whois Lookup :

/usr/local/lib/python3.8/dist-packages/ipwhois/net.py:138: UserWarning: allow_permutations has been deprecated and will be removed. It is no longer needed, due to the deprecation of asn_alts, and the addition of the asn_methods argument.
warn('allow_permutations has been deprecated and will be removed. '
/usr/local/lib/python3.8/dist-packages/ipwhois/asn.py:

[2020-08-16 03:57] thewhiteh4t commented on #24
@shanow7 please execute this command and share output : `sudo pip3 list | grep ipwhois`

[2020-09-10 02:49] Oldman19 opened #25 "--sub error"
python3.8 finalrecon.py  --sub http://test.com

[+] Checking Dependencies...

 ______  __   __   __   ______   __
/\  ___\/\ \ /\ "-.\ \ /\  __ \ /\ \
\ \  __\\ \ \\ \ \-.  \\ \  __ \\ \ \____
 \ \_\   \ \_\\ \_\\"\_\\ \_\ \_\\ \_____\
  \/_/    \/_/ \/_/ \/_/ \/_/\/_/ \/_____/
 ______   ______   ______   ______   __   __
/\  == \ /\  ___\ /\  ___\ /\  __ \ /\ "-.\ \
\ \  __< \ \  __\ \ \ \____\ \

[2020-09-10 03:08] thewhiteh4t commented on #25
@Oldman19 it looks like you are using a proxy, try switching changing the proxy or use torsocks

[2020-09-17 05:00] whiteorange007 opened #26 "ERROR SHOWS UP DURING CRAWLING A TARGET"
When we use to crawl a target like the command finalrecon --crawl https://abc.com there shows up this error:
/FinalRecon/modules/crawler.py", line 387, in out
    data['module-Crawler'].update({'Title':soup.title.string})
AttributeError: 'NoneType' object has no attribute 'string'

This happens only with few targets,not all target shows this error.

[2020-09-17 05:15] thewhiteh4t commented on #26
@whiteorange007 if its possible can you disclose one of the targets where you are facing this issue? that will help me in reproducing the  issue on my end, if you dont want to disclose here you can send me a message on telegram

[2020-09-17 05:26] whiteorange007 commented on #26
Here is the target:https://www.kolikkopelit.com/

[2020-09-17 05:36] thewhiteh4t commented on #26
yes i have the same issue on my end, thanks I will fix it soon @whiteorange007

[2020-09-21 12:37] whiteorange007 commented on #26
ALL THE BEST

[2020-09-28 13:30] repeattrick commented on #16
what is the format to enter key properly in keys.json

[2020-09-28 13:51] thewhiteh4t commented on #16
@repeattrick
https://github.com/thewhiteh4t/FinalRecon#facebook-developers-api
replace `null` with key in the format given above

[2020-10-20 14:19] thewhiteh4t commented on #26
@whiteorange007 please update to `v1.0.8` :)

[2020-10-20 14:19] #26 closed

[2020-10-20 14:20] thewhiteh4t commented on #25
closing due to inactivity.

[2020-10-20 14:20] #25 closed

[2020-10-20 14:20] thewhiteh4t commented on #24
closing due to inactivity.

[2020-10-20 14:20] #24 closed

[2020-10-22 07:33] mark0100 opened #27 "Too many open files on Ubuntu 20.04"
If i run finalrecon.py (with --full) I get "OSError: [Errno 24] Too many open files" exceptions in:
 - File "<homedir>/FinalRecon/modules/portscan.py", line 44, in sock_conn
 - File "/usr/lib/python3.8/threading.py", line 870

Here is part of the errors:
************************************ start logging ******************************************
  File "/home/mark/FinalRecon/modules/portscan.py",

[2020-10-22 07:40] thewhiteh4t commented on #27
@mark0100 please share output of `ulimit -n`

[2020-10-22 08:30] mark0100 commented on #27
ulimit -n --> 1024

[2020-10-22 08:32] thewhiteh4t commented on #27
@mark0100 thats weird, i have `1024` too, if i reduce it to lets say `256` I get the same error, but not with `1024`, which FinalRecon version are you on? latest is `1.0.8`

[2020-10-22 08:46] mark0100 commented on #27
I'm on 1.0.8 too:
"FinalRecon - The Last Recon Tool You Will Need | v1.0.8"

Maybe i have more files open with other open applications. Or is the 1024 a per session limit?!?

If i increase the limit to 2048 it looks ok.

[2020-10-22 08:46] #27 closed

[2020-10-25 03:48] Haryzez opened #28 "Anyone can fix this?"
ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-f_9re_78/psycopg2/setup.py'"'"'; __file__='"'"'/tmp/pip-install-f_9re_78/psycopg2/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec

[2020-10-25 03:52] thewhiteh4t commented on #28
@Haryzez which operating system are you using?

[2020-10-25 03:55] Haryzez commented on #28
Linux 4.4.0-18362-Microsoft x86_64

[2020-10-25 03:57] thewhiteh4t commented on #28
@Haryzez WSL?

[2020-10-25 04:01] Haryzez commented on #28
Yeah

[2020-10-25 04:02] Haryzez commented on #28
yes

[2020-10-25 04:04] thewhiteh4t commented on #28
@Haryzez the error provided you a solution if you read it :
[code]
Just execute `pip3 install psycopg2-binary`

[2020-10-25 04:31] Haryzez commented on #28
thank for the help , i just use   pip install (package)
it work for me

[2020-10-25 04:35] thewhiteh4t commented on #28
@Haryzez cool, closing.

[2020-10-25 04:35] #28 closed

[2020-11-05 17:23] r0bag opened #30 "threading error"
Hi,

upon running the program I receive the following error:
Traceback (most recent call last):
  File "finalrecon.py", line 272, in <module>
    full_recon()
  File "finalrecon.py", line 213, in full_recon
    ps(ip, output, data)
  File "/opt/FinalRecon/modules/portscan.py", line 23, in ps
    t.start()
  File "/usr/lib/python3.7/threading.py", line 852, in start
    _start_new_thread(self._boot

[2020-11-05 17:49] thewhiteh4t commented on #30
@r0bag
which distro?
did portscan work before this? or this is the issue on first run itself?
please share output of `ulimit -n`

[2020-11-06 08:34] r0bag commented on #30
kali@kali:~# uname -a
Linux kali 5.7.0-kali1-686-pae #1 SMP Debian 5.7.6-1kali2 (2020-07-01) i686 GNU/Linux
kali@kali:~# ulimit -n
1024

and it fails exactly at this step on the first run:

[!] Starting Port Scan...

[+] Testing Top 1000 Ports...

[+] 22     ssh
[+] 80     http
Traceback (most recent call last):
  File "finalrecon.py", line 272, in <module>
    full_recon()
  File "finalrecon.py",

[2020-11-07 04:28] thewhiteh4t commented on #30
@r0bag please try changing the ulimit value to `2048` using the command `ulimit -n 2048` and try running finalrecon after this

[2020-11-07 15:48] r0bag commented on #30
Thanks, now it works!

[2020-11-20 12:07] cagriaslan opened #32 "Subdomain Enumeration Problem"
Hi,

First thank you for this great tool. While I was testing it, I saw that it returns IP addresses along with the subdomains. This is also reflected to total number of subdomains. I consider this as a bug but if there are any other motivations can you please elaborate?

Thanks

[2020-11-21 06:45] thewhiteh4t commented on #32
thanks @cagriaslan for reaching out, this is a good point, adding it to to-do list

[2020-11-22 09:37] thewhiteh4t commented on #32
@cagriaslan fixed in `v1.1.1` please update and test

[2020-11-22 10:10] #32 closed

[2020-11-25 01:49] foo2rama opened #33 "error after updating in KALI"
Tool looks great and seems to automate things in a great way, but alas I am throwing these errors.

Kali is fully upgraded via apt upgrade and dist-upgrade as of today, running apt upgrade finalupdate reports all is 'finalrecon is already the newest version (0~20201111-0kali1)'

`[!] Starting Sub-Domain Enumeration...

[!] Requesting BuffOver
[!] Requesting ThreadCrowd
[!] Requesting crt.sh
[!] Re

[2020-11-25 04:28] thewhiteh4t commented on #33
@foo2rama I am aware of this issue and I have fixed it in v1.1.2 but the kali version is 1.1.0, it will be updated soon until then you can git clone it

[2020-11-26 00:27] foo2rama commented on #33
Awesome thank you! I will resolve that way.

[2020-12-03 19:18] meetgyn opened #34 "unicode decode error [--dir] and json decode error [--sub]"
root@kali:/opt/tools/finalrecon# python3 finalrecon.py --dir https://xxxx.xxxx.com -e txt,php -w wordlists/dirb_big.txt

![image](https://user-images.githubusercontent.com/3695608/101077136-24d72700-3583-11eb-92f6-b8ce78167a50.png)

[2020-12-03 19:28] thewhiteh4t commented on #34
@meetgyn thanks for raising this issue, please use `SecLists` wordlists in the mean time, you can find `big.txt` in `SecLists/Discovery/Web-Content/big.txt`

[2020-12-03 22:30] meetgyn commented on #34
Thank you.
Now another different error is returning to me.
![image](https://user-images.githubusercontent.com/3695608/101096215-029ed280-359e-11eb-8ab1-e87a4c920aaa.png)

[2020-12-03 22:35] thewhiteh4t commented on #34
@meetgyn is it possible for you to share the target url? I need to reproduce the issue on my end, is it happening with every target?

[2020-12-03 22:47] meetgyn commented on #34
Strange that it was working perfectly. Now it is giving error on all targets.

https://integratto.com.br

[2020-12-03 22:56] thewhiteh4t commented on #34
@meetgyn try again after sometime, looks like its a rate limit issue, I will try to reproduce the issue, thanks!

[2020-12-03 22:58] thewhiteh4t commented on #34
Did you add facebook api key?

[2020-12-03 23:03] meetgyn commented on #34
Thank you, I will do further tests later.
Yes, I put the Facebook API and Virustotal

[2020-12-03 23:04] thewhiteh4t commented on #34
Please check the format once and verify if json is not invalid, there are examples in readme for both

[2020-12-19 13:38] thewhiteh4t commented on #33
@foo2rama it has been updated to new version in kali, closing,

[2020-12-19 13:38] #33 closed

[2020-12-29 21:55] nigamelastic opened #37 "dns enumeration failing"
while running it with --full option using kali 2020.4, the script fails at dns enumeration step with the following error:

[!] Starting DNS Enumeration...

Traceback (most recent call last):
  File "/home/kali/Desktop/repos/FinalRecon/finalrecon.py", line 275, in <module>
    full_recon()
  File "/home/kali/Desktop/repos/FinalRecon/finalrecon.py", line 207, in full_recon
    dnsrec(domain, output,

[2020-12-30 05:06] thewhiteh4t commented on #37
@nigamelastic are you using a proxy or something like that?

[2020-12-30 07:44] nigamelastic commented on #37
No , I am using it in virtual box in bridged mode, no.proxies

[2020-12-30 07:50] thewhiteh4t commented on #37
@nigamelastic well as you know 8.8.8.8 is google dns and something is affecting the connection, try flushing dns cache, I tried --dns and its working for me so there is something going on in your configuration

[2020-12-30 12:15] nigamelastic commented on #37
wow, you were absolutely correct, as soon as cleared the cache it worked, Thanks a lot

[2020-12-30 12:15] #37 closed

[2021-01-17 07:44] z3dc0ps opened #38 "False Output"
![a](https://user-images.githubusercontent.com/61974788/104834520-ea70e180-58c5-11eb-80e1-e021ae29321b.PNG)

[2021-01-19 05:14] thewhiteh4t commented on #38
@z3dc0ps is the output blank everytime you run it?

[2021-01-19 07:41] z3dc0ps commented on #38
Yes output is blank, I tried multiple times

[2021-01-19 13:14] thewhiteh4t commented on #38
@z3dc0ps is it happening with every target? because I tested and its working for me

![2021-01-19_18-43](https://user-images.githubusercontent.com/36354846/105039248-539f5300-5a86-11eb-9c1b-7285fec8ad0c.png)

[2021-01-22 13:20] z3dc0ps commented on #38
@thewhiteh4t  Yes

![a](https://user-images.githubusercontent.com/61974788/105495846-ad9c5480-5ce2-11eb-91f3-0925f667e302.PNG)

[2021-01-22 13:39] thewhiteh4t commented on #38
this is weird...

[2021-01-22 15:01] z3dc0ps commented on #38
This is only for port scan , others are working properly

[2021-03-21 12:48] chestervdb commented on #8
Is it possible to include a secret finder (e,g, https://github.com/m4ll0k/SecretFinder) in the tool?

[2021-03-21 13:11] thewhiteh4t commented on #8
@chestervdb this is a nice tool, currently finalrecon only looks for urls in javascripts, api keys etc would be really nice, i dont intend to add another tool in finalrecon but i can definitely implement it :+1:

[2021-06-08 16:58] ratnadip1998 commented on #34
i am facing same error on --sub any fix for this ?

[2021-08-09 20:36] pockets8603 opened #41 ""statusCode": 401, "message": "Access denied due to improperly formed hibp-api-key." }"
Help

[+] API Key Found...

[+] Checking Breach status for aguilera.paul@gmail.com

[-] An Unknown Error Occurred
{ "statusCode": 401, "message": "Access denied due to improperly formed hibp-api-key." }

[+] Completed in 0.10766911506652832 seconds.
PS C:\Users\aguil\pwnedOrNot>

[2021-08-10 05:09] thewhiteh4t commented on #41
@pockets8603 you have opened the issue in wrong repository. The repository for pwnedOrNot is here : https://github.com/thewhiteh4t/pwnedOrNot

[2021-08-10 05:10] #41 closed

[2021-12-07 00:58] FlashSudan opened #42 "restart while was running on WSL2"
was running on WSL2 for 3 hours my Pc restart when i try to run again i got error One instance of FinalRecon is already running

[2021-12-07 01:02] thewhiteh4t commented on #42
@FlashSudan with that error the solution is also printed i.e. to remove the pid file, after that it will run again

[2022-01-06 00:00] Henriking opened #43 "Error on directory search"
![image](https://user-images.githubusercontent.com/96601918/148306867-314d16cd-0ef1-4984-9197-d6cc3cce9f4e.png)

[2022-01-12 04:57] abuvanth opened #45 "Handle exception"
File "finalrecon.py", line 275, in <module>
    full_recon()
  File "finalrecon.py", line 207, in full_recon
    dnsrec(domain, output, data)
  File "/root/finalrecon/modules/dns.py", line 19, in dnsrec
    pkt = q.send('8.8.8.8', 53, tcp='UDP')
  File "/usr/lib/python3.8/site-packages/dnslib/dns.py", line 365, in send
    sock.connect((dest,port))
ConnectionRefusedError: [Errno 111] Connection re

[2022-01-12 05:06] thewhiteh4t commented on #45
@abuvanth provide more info so that I can reproduce the error on my end

[2022-01-12 06:26] abuvanth commented on #45
Just run the full can against a target

[2022-03-06 11:37] rmrf-sl4sh opened #46 "Permission denied while starting finalrecon"
In tracelabs kali I get the following while trying to start finalrecon:

`zsh: permission denied: finalrecon`

not sure why, and trying with sudo doesn't recognize the command

[2022-03-07 08:22] thewhiteh4t commented on #46
@jdqw210 i will test, thanks

[2022-03-07 13:46] daniloalbuqrque opened #47 "Error with the psycopg2-binary python library."
I looked for someone whom had faced the same problem, but I didn't find. I also tried to install the application in either Fedora 34 and Kali LTS version, and I got the same error in both:

[code]
When I try to run the application I face the error above. I have the library already installed, the `pip` is at the latest version. I already have uninstalled it and then installed it again. I tried to u

[2022-03-07 13:50] thewhiteh4t commented on #47
@daniloalbuqrque the path of the lib you mentioned is under /usr which suggests that you executed `sudo pip3 install` ? and you are running finalrecon without sudo ?

if you are running finalrecon without sudo, run pip3 install without sudo as well and check if you still get the error

[2022-03-07 13:52] daniloalbuqrque commented on #47
I ran all the attempts mentioned above with and without sudo permissions, and I still get the same error.

[2022-03-07 13:57] thewhiteh4t commented on #47
@daniloalbuqrque what is the output of `python3 -c 'import psycopg2'` ?

[2022-03-07 14:17] daniloalbuqrque commented on #47
Actually, there is no output.

[2022-03-07 14:25] thewhiteh4t commented on #47
@daniloalbuqrque blank output means import was successful, edit `requirements.txt` remove the line which contains `psycopg2-binary` and run finalrecon again

[2022-03-07 14:45] thewhiteh4t commented on #47
weird, share `cat /etc/os-release` and `python3 -V`

[2022-03-07 14:54] daniloalbuqrque commented on #47
[code]
FYI: I am using the Python3.9 version to run the finalrecon.py file.

[2022-03-07 15:01] thewhiteh4t commented on #47
@daniloalbuqrque did you install finalrecon from apt ?

[2022-03-07 15:05] daniloalbuqrque commented on #47
I tried both ways, from apt and then from git to test it through another way.

[2022-03-07 15:08] thewhiteh4t commented on #47
@daniloalbuqrque thanks I will try to reproduce the issue

[2022-03-07 16:34] thewhiteh4t commented on #47
@daniloalbuqrque i have setup kali 2022.1 , I did get the psycopg2-binary error same as you and after editing rrequirrements.txt file and running the tool I am not getting the errors you have...
![frr_test](https://user-images.githubusercontent.com/36354846/157076810-64522ff2-07c2-41dc-8217-11dcd61c6b5f.png)

[2022-03-07 18:46] thewhiteh4t commented on #47
@daniloalbuqrque please try `pip3 show aiohttp`
![Screenshot 2022-03-08 001558](https://user-images.githubusercontent.com/36354846/157098108-01d09cf0-921c-4612-8426-36e5f103ed61.png)

[2022-03-07 18:46] thewhiteh4t commented on #47
if the version is old, update and try finalrecon again

[2022-03-07 18:50] daniloalbuqrque commented on #47
@thewhiteh4t, thank you! I got it now, it was that, the version for that package was in the `3.7.4`. I updated and it has been resolved. Thank you very much!

[2022-03-07 18:52] thewhiteh4t commented on #47
great! @daniloalbuqrque I will probably remove the package checking soon

[2022-03-07 18:52] daniloalbuqrque commented on #47
Ok then! I will close the issue. Thank you for your time!

[2022-03-07 18:52] #47 closed

[2022-03-15 10:08] mini-bomba commented on #46
sounds like the file is missing execute permissions
try finding the file using `which finalrecon` and then give it execute permissions with `chmod +x`

[2022-03-15 10:17] mini-bomba opened #48 "Dependency checker does not recognise the psycopg2-binary package"
When trying to run this script from source, I encountered an issue where the dependency checker would complain about `psycopg2-binary` package not being installed, even though it definetly was installed.

I found that even though the package was named `psycopg2-binary`, the actual module was still called `psycopg2`.
This issue was most likely introduced by commit [`716f133b`](https://github.com/th

[2022-03-15 10:19] thewhiteh4t commented on #48
@mini-bomba refer to https://github.com/thewhiteh4t/FinalRecon/issues/47

[2022-03-15 10:23] mini-bomba commented on #48
I think this should be fixed rather than having an undocumented workaround.
I can submit a pull request.

[2022-03-15 10:25] thewhiteh4t commented on #48
@mini-bomba no worries I will push an update soon

[2022-03-18 15:03] thewhiteh4t commented on #46
@jdqw210 so I tested and you can fix it by executing the following commands :
[code]

[2022-03-18 15:04] jdqw210 commented on #46
Thank you kindly

[2022-04-23 18:51] Zelakolase opened #50 "Attention: Someone stole your work"
Hello there,
Someone has stole your source code and changed the name of the project.

Link : https://github.com/motasemroot/MotasemRecon

[2022-04-23 19:03] thewhiteh4t commented on #50
@Zelakolase thanks for reaching out, unfortunately according to MIT and other open source licenses they can do that, but they have still breached the license by not following terms of MIT license i.e. ```The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.```

[2022-04-23 19:07] Zelakolase commented on #50
You can file a DMCA takedown notice, or taking proper legal actions as detailed below:

https://docs.github.com/en/site-policy/content-removal-policies/guide-to-submitting-a-dmca-takedown-notice

https://opensource.stackexchange.com/a/5122

https://docs.github.com/en/site-policy/content-removal-policies/dmca-takedown-policy

[2022-04-23 19:07] thewhiteh4t commented on #50
@Zelakolase thanks a lot, I will go through these links and will do something about this

[2022-04-24 09:30] Zelakolase commented on #50
Hello Again, I'd like to make an update.
He deleted the license completely, as an attempt to preserve his repository from a takedown.
[Commit Link](https://github.com/motasemroot/MotasemRecon/commit/c4f36eca3ce773556d27c2abed0e946c0a8f9394)

[2022-04-27 01:57] thewhiteh4t commented on #50
@Zelakolase the DMCA takedown request was successful, GitHub has removed the copied repo, thanks a lot!

[2022-04-27 15:37] #50 closed

[2022-05-02 07:49] #48 closed

[2022-05-03 21:24] #46 closed

[2022-05-03 21:25] #42 closed

[2022-05-03 21:26] #34 closed

[2022-05-03 21:26] #30 closed

[2022-05-06 21:03] bretfeig opened #51 "Keeps crashing"
**Update***

This seems to be caused by installing via APT.  When I followed the Git Clone  / PIP3 Requirements, it worked fine.

Hi -  Getting an error using just --webcrawl URL

Traceback (most recent call last):
  File "/usr/share/finalrecon/finalrecon.py", line 152, in fetch_meta
    gh_version = json_data['metadata']['version']
KeyError: 'metadata'

During handling of the above exception, ano

[2022-05-07 04:36] thewhiteh4t commented on #51
@bretfeig yes I am aware of this issue and for kali linux I have raised issue on their bug tracker, need to wait for kali devs to update the tool, meanwhile you can `git clone` latest and that should work

[2022-05-07 04:37] thewhiteh4t commented on #51
https://bugs.kali.org/view.php?id=7696

[2022-05-15 03:22] thewhiteh4t commented on #51
@bretfeig v1.1.3 update is now available in kali linux, please try updating and let me know if it works now

[2022-06-27 13:11] sushantbhadauria commented on #45
@thewhiteh4t , Is this issue fixed ? I am able to run full scan

![Screenshot 2022-06-27 at 6 39 34 PM](https://user-images.githubusercontent.com/22721881/175949575-f23881c6-9a23-4877-bd2e-267f05323a61.png)

[2022-06-28 23:44] thewhiteh4t commented on #45
@sushantbhadauria this issue was kind of rare, most people did not have it

[2022-07-11 04:28] #51 closed

[2022-07-25 00:48] thewhiteh4t commented on #38
fixed in v1.1.4
![Screenshot_2022-07-25_06-22-58](https://user-images.githubusercontent.com/36354846/180673547-e8ffd1b3-00fd-420e-9db0-ba0ffb5565a3.png)

[2022-07-25 00:48] #38 closed

[2022-07-25 06:34] z3dc0ps commented on #38
![image](https://user-images.githubusercontent.com/61974788/180712854-a8579bf5-c417-4254-9527-fbf06999da9d.png)

@thewhiteh4t  I am getting the same blank output even in the new version also

[2022-07-25 06:36] thewhiteh4t commented on #38
@z3dc0ps are you using some proxy or something in the background?

I need to be able to reproduce the issue, so far in my testing this is not happening

[2022-07-25 06:42] z3dc0ps commented on #38
@thewhiteh4t No I am not using any proxy, as you can see, it shows output for other options.

![image](https://user-images.githubusercontent.com/61974788/180714152-0b81775b-76d8-4c1d-9f2c-7cdae0719b70.png)

![image](https://user-images.githubusercontent.com/61974788/180714290-72c08112-c1f7-4994-9715-5dcc8391f185.png)

[2022-07-25 06:46] thewhiteh4t commented on #38
@z3dc0ps for past 1 week i was testing and i always get results in port scan 😅

[2022-07-25 08:13] z3dc0ps commented on #38
For me, the issue was with threads, I added a pull request please check it [here](https://github.com/thewhiteh4t/FinalRecon/pull/54)

[2022-07-25 08:17] thewhiteh4t commented on #38
@z3dc0ps nice! I saw I will merge later today, how many threads worked for you and what is your system specs?

[2022-07-25 08:26] z3dc0ps commented on #38
@thewhiteh4t For me, working fine with 85 threads. os is Kali Linux using in VMware.

![image](https://user-images.githubusercontent.com/61974788/180732444-4e185416-4010-43c7-aeaf-78888ad57e13.png)

![image](https://user-images.githubusercontent.com/61974788/180732483-bb5a5f28-a693-4bf1-a3d8-bf188f6fd765.png)

[2022-07-25 08:27] thewhiteh4t commented on #38
interesting!

[2022-08-08 15:20] kenseilabs opened #55 "Modify results directory"
I couln't find how to redirect the results to another folder without still using de default one.

[2022-08-08 15:21] thewhiteh4t commented on #55
@kenseilabs can you elaborate the issue ?

[2022-08-08 17:34] s1nglethr3ad opened #56 "ZSH: Segmentation Fault on Kali 2022.3"
sudo apt-get install finalrecon
python3 finalrecon.py --full 'https://mydomain.com'

Running finalrecon in zsh on Kali produces:
zsh:  segmentation fault python3 finalrecon.py --full 'https://mydomain.com'

Error occurs during enumeration of subdomains.

Running subdomains separately produces same error.
python3 finalrecon.py --sub 'https://mydomain.com'
zsh:  segmentation fault python3 finalrecon

[2022-08-08 17:36] thewhiteh4t commented on #56
@s1nglethr3ad finalrecon version ?

[2022-08-08 17:39] s1nglethr3ad commented on #56
@thewhiteh4t
v1.1.3 from Kali repo.

[2022-08-08 17:42] thewhiteh4t commented on #56
@s1nglethr3ad it looks like the upgrade request is not completed yet
https://bugs.kali.org/view.php?id=7837
until its complete you can `git clone` to use v1.1.5

[2022-08-08 17:45] s1nglethr3ad commented on #56
@thewhiteh4t
sounds good, i'll give it a go.  thank you!

[2022-08-16 05:34] abuvanth commented on #45
working fine

[2022-08-16 05:34] #45 closed

[2022-09-07 09:48] puchkii opened #58 "no api key detected while keys are added into keys.json (m1 mac)"
output below from the scan:
[!] Skipping VirusTotal : API key not found!
[!] Skipping Shodan : API key not found!

format of keys.json:
{
	"virustotal": "key",
	"shodan": "key"
}

[2022-09-07 09:51] thewhiteh4t commented on #58
@puchkii looks like you are using an old version, also check the following path : `$HOME/.config/finalrecon/`

[2022-09-07 10:04] puchkii commented on #58
i found the issue. so i used the finalrecon/conf/keys.json instead of .config/finalrecon/keys.json. thx for responding so quickly and keep up the good work!

[2022-09-07 10:04] #58 closed

[2022-09-12 10:10] OVERPEY opened #59 "Windows support"
please make this project compatible with windows, i mean windows support python it will not be a complicated task and thanks